.kolo{
    background-color: lightblue;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    
}
#kontener{
    display: grid;
    /*grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;*/
    grid-template-columns: repeat(10, 30px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 100px;
}

h1{
    text-align: center;
}
.znikaj{
    display: none;
    /*opacity: 0;
    transition: 0.5s;*/
}

#czas {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: red;
}

.kon{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: red;
}

.box{
    border: 1px solid transparent;
    width: 32px;
    height: 32px;
    
}
